In [5]:
import glob

ROOT_PATH = "/"
DATA_PATH = "./input"
DB_FILE = "%s/*.csv" % DATA_PATH # ./input/*.csv

files = glob.glob(DB_FILE)

print(files)

['./input/hpg_reserve.csv', './input/date_info.csv', './input/air_visit_data.csv', './input/hpg_store_info.csv', './input/air_reserve.csv', './input/air_store_info.csv', './input/sample_submission.csv']

In [18]:
import pandas as pd
df = {}

for filename in files:
    name = filename[8:] # get me only the filename.csv without ./input/
    df[name.replace('.csv', '')] = pd.read_csv(filename) 

print(df.keys())
#print(df.values())

dict_keys(['hpg_reserve', 'date_info', 'air_visit_data', 'hpg_store_info', 'air_reserve', 'air_store_info', 'sample_submission'])

In [13]:
# Check the length and information of 'air_store_info'
print(len(df['air_store_info']))
df['air_store_info'].head()

829

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [19]:
# Check the length and information of 'hpg_store_info'
print(len(df['hpg_store_info']))
df['hpg_store_info'].head()

4690

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [20]:
# Check the length and information of 'air_reserve'
print(len(df['air_reserve']))
df['air_reserve'].head()

92378

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [21]:
# Check the length and information of 'hpg_reserve'
print(len(df['hpg_reserve']))
df['hpg_reserve'].head()

2000320

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

In [25]:
# Check all tables

for index in df:
    print(len(df[index]))
    print(df[index].head())
    print()

2000320
           hpg_store_id       visit_datetime     reserve_datetime  \
0  hpg_c63f6f42e088e50f  2016-01-01 11:00:00  2016-01-01 09:00:00
1  hpg_dac72789163a3f47  2016-01-01 13:00:00  2016-01-01 06:00:00
2  hpg_c8e24dcf51ca1eb5  2016-01-01 16:00:00  2016-01-01 14:00:00
3  hpg_24bb207e5fd49d4a  2016-01-01 17:00:00  2016-01-01 11:00:00
4  hpg_25291c542ebb3bc2  2016-01-01 17:00:00  2016-01-01 03:00:00

   reserve_visitors
0                 1
1                 3
2                 2
3                 5
4                13

517
  calendar_date day_of_week  holiday_flg
0    2016-01-01      Friday            1
1    2016-01-02    Saturday            1
2    2016-01-03      Sunday            1
3    2016-01-04      Monday            0
4    2016-01-05     Tuesday            0

252108
           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

4690
           hpg_store_id  hpg_genre_name                  hpg_area_name  \
0  hpg_6622b62385aec8bf  Japanese style  Tōkyō-to Setagaya-ku Taishidō
1  hpg_e9e068dd49c5fa00  Japanese style  Tōkyō-to Setagaya-ku Taishidō
2  hpg_2976f7acb4b3a3bc  Japanese style  Tōkyō-to Setagaya-ku Taishidō
3  hpg_e51a522e098f024c  Japanese style  Tōkyō-to Setagaya-ku Taishidō
4  hpg_e3d0e1519894f275  Japanese style  Tōkyō-to Setagaya-ku Taishidō

    latitude   longitude
0  35.643675  139.668221
1  35.643675  139.668221
2  35.643675  139.668221
3  35.643675  139.668221
4  35.643675  139.668221

92378
           air_store_id       visit_datetime     reserve_datetime  \
0  air_877f79706adbfb06  2016-01-01 19:00:00  2016-01-01 16:00:00
1  air_db4b38ebe7a7ceff  2016-01-01 19:00:00  2016-01-01 19:00:00
2  air_db4b38ebe7a7ceff  2016-01-01 19:00:00  2016-01-01 19:00:00
3  air_877f79706adbfb06  2016-01-01 20:00:00  2016-01-01 16:00:00
4  air_db80363d35f10926  2016-01-01 20:00:00  2016-01-01 01:00:00

   reserve_visitors
0                 1
1                 3
2                 6
3                 2
4                 5

829
           air_store_id  air_genre_name                 air_area_name  \
0  air_0f0cdeee6c9bf3d7  Italian/French  Hyōgo-ken Kōbe-shi Kumoidōri
1  air_7cc17a324ae5c7dc  Italian/French  Hyōgo-ken Kōbe-shi Kumoidōri
2  air_fee8dcf4d619598e  Italian/French  Hyōgo-ken Kōbe-shi Kumoidōri
3  air_a17f0778617c76e2  Italian/French  Hyōgo-ken Kōbe-shi Kumoidōri
4  air_83db5aff8f50478e  Italian/French  Tōkyō-to Minato-ku Shibakōen

    latitude   longitude
0  34.695124  135.197852
1  34.695124  135.197852
2  34.695124  135.197852
3  34.695124  135.197852
4  35.658068  139.751599

32019
                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0