In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

<h1>Air reserve DB from csv</h1>

In [2]:
df = pd.read_csv("../input/air_reserve.csv", parse_dates=['visit_datetime', 'reserve_datetime'])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92378 entries, 0 to 92377
Data columns (total 4 columns):
air_store_id        92378 non-null object
visit_datetime      92378 non-null datetime64[ns]
reserve_datetime    92378 non-null datetime64[ns]
reserve_visitors    92378 non-null int64
dtypes: datetime64[ns](2), int64(1), object(1)
memory usage: 2.8+ MB

In [4]:
df.head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [5]:
df.describe()

       reserve_visitors
count      92378.000000
mean           4.481749
std            4.919669
min            1.000000
25%            2.000000
50%            3.000000
75%            5.000000
max          100.000000

In [6]:
df.isnull().values.any()

False

Data is clean and it does not contain any missing values.

<h2>Column: air_store_id </h2>

In [7]:
print('The dataset contains info about %s restaurants' % len(df['air_store_id'].unique()))

The dataset contains info about 314 restaurants

In [8]:
# The restaurants sorted by number of reservations
df['air_store_id'].value_counts()

air_8093d0b565e9dbdf    2263
air_e55abd740f93ecc4    1903
air_0a74a5408a0b8642    1831
air_cf5ab75a0afb8af9    1758
air_6d65542aa43b598b    1436
air_de692863bb2dd758    1355
air_326ca454ef3558bc    1282
air_03963426c9312048    1267
air_483eba479dc9910d    1232
air_f911308e19d64236    1197
air_3bb99a1fe0583897    1185
air_24b9b2a020826ede    1143
air_5f6fa1b897fe80d5    1134
air_6b15edd1b4fbb96a    1085
air_877f79706adbfb06    1061
air_2cee51fa6fdf6c0d    1057
air_96743eee94114261     996
air_2d3afcb91762fe01     952
air_a083834e7ffe187e     938
air_1408dd53f31a8a65     918
air_d6b3e67261f07646     898
air_af63df35857b16e6     870
air_7831b00996701c0f     858
air_4092cfbd95a3ac1b     854
air_3c05c8f26c611eb9     839
air_9b6af3db40da4ae2     836
air_de803f7e324936b8     832
air_e7fbee4e3cfe65c5     828
air_3cad29d1a23209d2     823
air_4b55d8aea1d2b395     814
                        ...
air_fee8dcf4d619598e       2
air_084d98859256acf0       2
air_876d7a23c47811cb       2
air_15ae33469e9ea2dd       2
air_1f1390a8be2272b3       2
air_8cc350fd70ee0757       1
air_cf2229e64408d9fe       1
air_b60cc7d6aee68194       1
air_e01d99390355408d       1
air_63e28ee0b0c955a7       1
air_e700e390226d9985       1
air_96005f79124e12bf       1
air_883ca28ef0ed3d55       1
air_cc35590cd1da8554       1
air_eca4a5a191e8d993       1
air_950381108f839348       1
air_5485912b44f976de       1
air_f0fb0975bdc2cdf9       1
air_4de6d887a7b1c1fc       1
air_256be208a979e023       1
air_859feab8e3c9f98d       1
air_e657ca554b0c008c       1
air_629d9935273c82ae       1
air_93b9bb641f8fc982       1
air_ab9746a0f83084b7       1
air_d1418d6fd6d634f2       1
air_2bffb19a24d11729       1
air_35512c42db0868da       1
air_a55d17bd3f3033cb       1
air_87467487d21891dd       1
Name: air_store_id, Length: 314, dtype: int64