In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

<h1>Air Store Info DB from csv</h1>

In [2]:
df = pd.read_csv("../input/air_store_info.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829 entries, 0 to 828
Data columns (total 5 columns):
air_store_id      829 non-null object
air_genre_name    829 non-null object
air_area_name     829 non-null object
latitude          829 non-null float64
longitude         829 non-null float64
dtypes: float64(2), object(3)
memory usage: 32.5+ KB

In [4]:
df.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [5]:
df.describe()

         latitude   longitude
count  829.000000  829.000000
mean    35.647042  137.415311
std      2.084659    3.650971
min     33.211967  130.195555
25%     34.695124  135.341564
50%     35.658068  139.685474
75%     35.694003  139.751599
max     44.020632  144.273398

In [6]:
df.isnull().values.any()

False

Data is clean and it does not contain any missing values.

<h2>Column: air_store_id</h2>

In [7]:
print('The dataset contains info about %s restaurants' % len(df['air_store_id'].unique()))

The dataset contains info about 829 restaurants

In [8]:
df['air_store_id'].describe()

count                      829
unique                     829
top       air_a510dcfe979f09eb
freq                         1
Name: air_store_id, dtype: object

In [9]:
# Check if there are duplicated air Store Ids

#*********************#
#                     #
#                     #
#*********************#

df[df.duplicated(['air_store_id'])]

Empty DataFrame
Columns: [air_store_id, air_genre_name, air_area_name, latitude, longitude]
Index: []

Dataset is clean and it does not contain any duplicated entry :) That's great!

<h2>Column: air_genre_name</h2>

In [10]:
print(df['air_genre_name'].describe())
print('\n******************************************')
print('%s diffrent genere that in air\n'%len(df['air_genre_name'].unique()))
print('******************************************')
#count the amount of genre that we have
print(df['air_genre_name'].value_counts())

count         829
unique         14
top       Izakaya
freq          197
Name: air_genre_name, dtype: object

******************************************
14 diffrent genere that in air

******************************************
Izakaya                         197
Cafe/Sweets                     181
Dining bar                      108
Italian/French                  102
Bar/Cocktail                     79
Japanese food                    63
Other                            27
Yakiniku/Korean food             23
Western food                     16
Okonomiyaki/Monja/Teppanyaki     14
Creative cuisine                 13
Asian                             2
Karaoke/Party                     2
International cuisine             2
Name: air_genre_name, dtype: int64

<h2>Column: air_area_name</h2>

In [11]:
print(df['air_area_name'].describe())
print('\n***********************************')
print(df['air_area_name'].value_counts())

count                                829
unique                               103
top       Fukuoka-ken Fukuoka-shi Daimyō
freq                                  64
Name: air_area_name, dtype: object

***********************************
Fukuoka-ken Fukuoka-shi Daimyō                   64
Tōkyō-to Shibuya-ku Shibuya                      58
Tōkyō-to Minato-ku Shibakōen                     51
Tōkyō-to Shinjuku-ku Kabukichō                   39
Tōkyō-to Setagaya-ku Setagaya                    30
Tōkyō-to Chūō-ku Tsukiji                         29
Ōsaka-fu Ōsaka-shi Ōgimachi                      25
Hiroshima-ken Hiroshima-shi Kokutaijimachi       23
Tōkyō-to Meguro-ku Kamimeguro                    22
Tōkyō-to Suginami-ku Asagayaminami               21
Hokkaidō Sapporo-shi Minami 3 Jōnishi            21
Tōkyō-to Chiyoda-ku Kudanminami                  20
Ōsaka-fu Ōsaka-shi Kyūtarōmachi                  19
Hyōgo-ken Kōbe-shi Kumoidōri                     17
Miyagi-ken Sendai-shi Kamisugi                   17
Tōkyō-to Taitō-ku Higashiueno                    16
Fukuoka-ken Fukuoka-shi Hakata Ekimae            16
Tōkyō-to Chūō-ku Ginza                           14
Hokkaidō Asahikawa-shi 6 Jōdōri                  13
Shizuoka-ken Hamamatsu-shi Motoshirochō          13
Tōkyō-to Toshima-ku Minamiikebukuro              12
Ōsaka-fu Ōsaka-shi Shinmachi                     10
Hyōgo-ken Kakogawa-shi Kakogawachō Kitazaike     10
Tōkyō-to Kōtō-ku Tōyō                             9
Hyōgo-ken Himeji-shi Yasuda                       9
Tōkyō-to Minato-ku Akasaka                        8
Hiroshima-ken Fukuyama-shi Higashisakuramachi     7
Hyōgo-ken Nishinomiya-shi Rokutanjichō            7
Fukuoka-ken Itoshima-shi Maebarunishi             7
Niigata-ken Niigata-shi Gakkōchōdōri 1 Banchō     7
                                                 ..
Tōkyō-to Kōtō-ku Kameido                          2
Shizuoka-ken Numazu-shi Miyukichō                 2
Tōkyō-to Fuchū-shi Miyanishichō                   2
Tōkyō-to Setagaya-ku Kitazawa                     2
Niigata-ken Nagaoka-shi Ōtedōri                   2
Tōkyō-to Musashino-shi Kichijōji Honchō           2
Ōsaka-fu Ōsaka-shi Kyōmachibori                   2
Hokkaidō Sapporo-shi Atsubetsuchūō 1 Jō           2
Ōsaka-fu Ōsaka-shi Fuminosato                     2
Ōsaka-fu Ōsaka-shi Nanbasennichimae               2
Tōkyō-to Shibuya-ku Higashi                       2
Tōkyō-to Toshima-ku Sugamo                        2
Hokkaidō Katō-gun Motomachi                       2
Tōkyō-to Koganei-shi Honchō                       2
Tōkyō-to Kita-ku Ōjihonchō                        2
Ōsaka-fu Sakai-shi Minamikawaramachi              2
Ōsaka-fu Higashiōsaka-shi Aramotokita             2
Tōkyō-to Chiyoda-ku Kanda Jinbōchō                2
Tōkyō-to Meguro-ku Takaban                        2
Tōkyō-to Shibuya-ku Dōgenzaka                     2
Tōkyō-to Minato-ku Roppongi                       2
Niigata-ken Kashiwazaki-shi Chūōchō               2
Tōkyō-to Meguro-ku Jiyūgaoka                      2
Tōkyō-to Toshima-ku Mejiro                        2
Tōkyō-to Setagaya-ku Sangenjaya                   2
Tōkyō-to Toshima-ku Nishiikebukuro                2
Fukuoka-ken Yame-shi Motomachi                    2
Tōkyō-to Taitō-ku Kuramae                         2
Tōkyō-to Katsushika-ku Tateishi                   2
Hokkaidō Abashiri-shi Minami 6 Jōhigashi          2
Name: air_area_name, Length: 103, dtype: int64

<h1>New columns extension </h1>
<p>extension for air_area_name</p>
<ul>For example: Fukuoka-ken Fukuoka-shi Shiobaru 
<li>region - Fukuoka-ken</li>
<li>ward - Fukuoka-shi</li>
<li>area - Shiobaru</li>
</ul>

INFO: The air_area_name_region column contains information about location: prefecture, capital or ward, and area. Thus we can split that information into separate columns.

In [12]:
area_split = df['air_area_name'].str.split(' ', expand=True)

df['region'] = area_split[0]
df['city'] = area_split[1]
df['street'] = area_split.iloc[:, 2:].apply(lambda row: ' '.join(row.dropna()), axis=1)




# for example : Fukuoka-ken Fukuoka-shi Shiobaru
#df['region_air_area_name'] = df['air_area_name'].str.split('\s+').str[0] # Fukuoka-ken
#print(df['air_area_name'].str.split('\s+').str[0])
#df['ward_air_area_name'] = df['air_area_name'].str.split('\s+').str[1] # Fukuoka-shi
#df['area_air_area_name'] = df['air_area_name'].str.split('\s+').str[2] # Shiobaru

In [26]:
len(df[df['city']=='Sapporo-shi']['air_store_id'].unique())

29

In [17]:
df.tail()

,air_store_id,air_genre_name,air_area_name,latitude,longitude,region,city,street
824,air_9bf595ef095572fb,International cuisine,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051,Tōkyō-to,Shibuya-ku,Shibuya
825,air_764f71040a413d4d,Asian,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051,Tōkyō-to,Shibuya-ku,Shibuya
826,air_10bbe8acd943d8f6,Asian,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051,Tōkyō-to,Shibuya-ku,Shibuya
827,air_7514d90009613cd6,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956,Hokkaidō,Sapporo-shi,Minami 3 Jōnishi
828,air_c8fe396d6c46275d,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956,Hokkaidō,Sapporo-shi,Minami 3 Jōnishi

In [16]:
print('************ Region_Air_Area_Name ***************')
print(df['region'].describe())
print('\n****************************************')
#print(df['region_air_area_name'].unique())
#print('\n****************************************')
print(df['region'].value_counts())

     
print('\n\n************ Ward_Air_Area_Name ***************')
print(df['city'].describe())
print('\n****************************************')
print(df['city'].value_counts())


print('\n\n************ Area_Air_Area_Name ***************')
print(df['street'].describe())
print('\n****************************************')
print(df['street'].value_counts())


# Hokkaidō Sapporo-shi Minami 3 Jōnishi 
# Hokkaidō Asahikawa-shi  6 Jōdōri    
# Hokkaidō Sapporo-shi Atsubetsuchūō 1 Jō    
# Niigata-ken Niigata-shi Gakkōchōdōri 1 Banchō

************ Region_Air_Area_Name ***************
count          829
unique           9
top       Tōkyō-to
freq           444
Name: region, dtype: object

****************************************
Tōkyō-to         444
Fukuoka-ken      127
Ōsaka-fu          74
Hyōgo-ken         57
Hokkaidō          46
Hiroshima-ken     32
Shizuoka-ken      18
Miyagi-ken        17
Niigata-ken       14
Name: region, dtype: int64


************ Ward_Air_Area_Name ***************
count             829
unique             55
top       Fukuoka-shi
freq              103
Name: city, dtype: object

****************************************
Fukuoka-shi         103
Ōsaka-shi            66
Shibuya-ku           64
Minato-ku            61
Shinjuku-ku          43
Chūō-ku              43
Setagaya-ku          39
Sapporo-shi          29
Meguro-ku            26
Kōbe-shi             25
Hiroshima-shi        25
Toshima-ku           23
Taitō-ku             22
Chiyoda-ku           22
Suginami-ku          21
Sendai-shi           17
Asahikawa-shi        13
Kōtō-ku              13
Hamamatsu-shi        13
Kakogawa-shi         10
Niigata-shi          10
Himeji-shi            9
Kitakyūshū-shi        9
Shinagawa-ku          7
Ōta-ku                7
Itoshima-shi          7
Bunkyō-ku             7
Fukuyama-shi          7
Nishinomiya-shi       7
Kurume-shi            6
Nakano-ku             6
Tachikawa-shi         6
Itabashi-ku           6
Musashino-shi         4
Takarazuka-shi        4
Adachi-ku             4
Edogawa-ku            4
Machida-shi           4
Nerima-ku             4
Shizuoka-shi          3
Kashiwazaki-shi       2
Koganei-shi           2
Sakai-shi             2
Higashiōsaka-shi      2
Kita-ku               2
Numazu-shi            2
Nagaoka-shi           2
Katsushika-ku         2
Suita-shi             2
Fuchū-shi             2
Amagasaki-shi         2
Abashiri-shi          2
Neyagawa-shi          2
Yame-shi              2
Katō-gun              2
Name: city, dtype: int64


************ Area_Air_Area_Name ***************
count        829
unique       100
top       Daimyō
freq          64
Name: street, dtype: object

****************************************
Daimyō                   64
Shibuya                  58
Shibakōen                51
Kabukichō                39
Setagaya                 30
Tsukiji                  29
Ōgimachi                 25
Kokutaijimachi           23
Kamimeguro               22
Asagayaminami            21
Minami 3 Jōnishi         21
Kudanminami              20
Kyūtarōmachi             19
Kumoidōri                17
Kamisugi                 17
Hakata Ekimae            16
Higashiueno              16
Ginza                    14
Motoshirochō             13
6 Jōdōri                 13
Minamiikebukuro          12
Kakogawachō Kitazaike    10
Shinmachi                10
Tōyō                      9
Yasuda                    9
Akasaka                   8
Izumichō                  8
Maebarunishi              7
Shiobaru                  7
Gakkōchōdōri 1 Banchō     7
                         ..
Honchō                    2
Takatori                  2
Nishiikebukuro            2
Higashi                   2
Ōtedōri                   2
Takaban                   2
Jiyūgaoka                 2
Mejiro                    2
Chūōchō                   2
Minamikawaramachi         2
Tenjin                    2
Fuminosato                2
Aramotokita               2
Midorichō                 2
Jingūmae                  2
Higashigotanda            2
Nakanochō                 2
Tateishi                  2
Nagarekawachō             2
Kita 24 Jōnishi           2
Dōgenzaka                 2
Imaizumi                  2
Kitazawa                  2
Sugamo                    2
Atsubetsuchūō 1 Jō        2
Motomachidōri             2
Roppongi                  2
Tomioka                   2
Kuramae                   2
Kanda Jinbōchō            2
Name: street, Length: 100, dtype: int64

<h2>Columns latitude and longitude</h2>

In [23]:
print('***********  latitude    *************')
print(df['latitude'].describe())
print('\n')
print("the data set have %s diffrent latitude"%len(df['latitude'].unique()))
print('\n\n')

print('***********  longitude    *************')
print(df['longitude'].describe())
print('\n')
print("the data set have %s diffrent longitude"%len(df['longitude'].unique()))

***********  latitude    *************
count    829.000000
mean      35.647042
std        2.084659
min       33.211967
25%       34.695124
50%       35.658068
75%       35.694003
max       44.020632
Name: latitude, dtype: float64


the data set have 108 diffrent latitude



***********  longitude    *************
count    829.000000
mean     137.415311
std        3.650971
min      130.195555
25%      135.341564
50%      139.685474
75%      139.751599
max      144.273398
Name: longitude, dtype: float64


the data set have 108 diffrent longitude