In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

<h1>Date DB from csv</h1>

In [2]:
df = pd.read_csv("../input/date_info.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 3 columns):
calendar_date    517 non-null object
day_of_week      517 non-null object
holiday_flg      517 non-null int64
dtypes: int64(1), object(2)
memory usage: 12.2+ KB

In [4]:
df.head(16)

   calendar_date day_of_week  holiday_flg
0     2016-01-01      Friday            1
1     2016-01-02    Saturday            1
2     2016-01-03      Sunday            1
3     2016-01-04      Monday            0
4     2016-01-05     Tuesday            0
5     2016-01-06   Wednesday            0
6     2016-01-07    Thursday            0
7     2016-01-08      Friday            0
8     2016-01-09    Saturday            0
9     2016-01-10      Sunday            0
10    2016-01-11      Monday            1
11    2016-01-12     Tuesday            0
12    2016-01-13   Wednesday            0
13    2016-01-14    Thursday            0
14    2016-01-15      Friday            0
15    2016-01-16    Saturday            0

In [5]:
df.describe()

       holiday_flg
count   517.000000
mean      0.067698
std       0.251471
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [6]:
df.isnull().values.any()

False

Data is clean and it does not contain any missing values.